body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-tc-editor-preview pre code {
  font-size: 12px;
  border-radius: 0;
  padding: 0;
  white-space: inherit;
}

.w-tc-editor-preview pre {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.collapse {
  width: 100%;
  overflow: hidden;
  transition: 500ms max-height;
}

.collapse > div {
  overflow: auto;
}

[data-color-mode*="light"] .w-tc-editor {
  background-color: #f2f1f1;
}

[data-color-mode*="dark"] .w-tc-editor {
  background-color: rgb(39, 39, 39);
}
